.navbar-laravel {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.dropdown-menu {
  background: rgba(0, 0, 0, 0.95) !important;
}

.white {
  color: white !important;
}

.bg-white {
  background-color: white !important;
}

.fe-selected {
  background: #1e77d8 !important;
  font-weight: bold !important;
  color: white !important;
}

.selected > a {
  background: #1e77d8 !important;
  font-weight: bold !important;
  color: white !important;
}

tbody {
  font-size: 0.85em;
}

.tr-bold {
  font-weight: bolder !important;
}

.static-top {
  position: fixed;
  top: 80px;
  right: 10px;
}

.alert-hide {
  position: absolute;
  top: 0px;
  right: 15px;
}

